.navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
    margin-top: 35px;
    margin-left: 80px;
}

.navigation a{
    color: White;
    text-decoration: none;
}

.navigation a:hover{
    color: #CC9600;
    font-weight: 600;
    text-decoration: none;
}

.navigationIcon ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 200px;
    margin-top: 35px;
    margin-left: 80px;
}

.navigationIcon img{
    width: 25px;
    height: 25px;
}

.logo{
    display: flex;
    align-items: center;
}
.my-3{
.div-h2{
    text-align: center;
    box-shadow: 1px 1px 1px 2px black;
    width: 450px;
    height: 50px;
    margin: auto;
    margin-top: 20px;

}
.div-h3{
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 2px black;
    width: 450px;
    height: 450px;
    margin-top: 30px;;
    top: 400px;
    position: absolute;
width: 294px;
height: 395px;
left: 335px;
top: 316px;
}
}
